boto3>=1.28.57
awscli>=1.29.57
botocore>=1.31.57
unstructured[csv]
langsmith<0.1.0,>=0.0.40
langchain==0.0.309
python-weather
pypdf==3.17.0
pandas<2.0.0
openai>=1.0.0
streamlit~=1.36.0
scipy~=1.13.1
selenium~=4.22.0
webdriver-manager
requests
beautifulsoup4~=4.12.3
pyarrow
langchain-aws
sagemaker
aiohttp
torch
tensorflow
IPython
faiss-cpu
matplotlib
transformers
Pillow
pillow
asyncio
aiohttp